<%= form_for(@product, :html => {multipart: true}) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control", placeholder:"Enter the Item Name", id: :product_title %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control", placeholder:"Enter a description of the sneakers including size and condition of the sneakers", id: :product_description %>
  </div>

   <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class:"form-control", placeholder:"Enter the Price of the Item", id: :product_price %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :product_image %>
  </div>

  <div class="form-group">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
