
<div class="jumbotron">
<h1>Sneakers Marketplace</h1></br>
<h2>Discover one-of-a-kind sneaker</h2>
</div>

<div class="center">
  <p id="notice"><%= notice %></p>
  <h1>Products</h1>

      <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3">
          <%= link_to image_tag(product.image_url(:thumb)), product %>
          <div class="caption">
          <h3><%= product.title %></h3>
          <p><%= number_to_currency(product.price,:unit=>'AUD ') %></p>
          <p><%= "Sold by #{product.user.name}" %></p>
          <% if (user_signed_in?) && (current_user == product.user) %>
          <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <br>

<% if user_signed_in? %>
  <% if @products.blank? %>
  <h4>There are no products containing the term "<%= params[:search] %>".</h4>
  <% end %>
  <%= link_to 'New Product', new_product_path, class:'btn btn-link' %>

</div>
  <% end %>