<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-8"><%= image_tag @product.image_url(:medium) %></div>
  <div class="col-sm-4">
  <h3><%= @product.title %></h3>
  <p><%= number_to_currency(@product.price,:unit=>'AUD') %></p>
  <p><%= @product.description %></p>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product), class:'btn btn-link' %> |
<%= link_to 'Back', products_path, class:'btn btn-link' %>
